<div class="card cart">
    <div class="card-body">
        <h2 class="card-title">Panier</h2>
        <div id="cart-items" class="list-group mb-2"></div>
        <div class="mt-2">
            <strong>Total: </strong><span id="total-amount">0.0</span>
        </div>
        <div class="mt-4">
            <h4>Montant Inséré</h4>
            <div id="inserted-amount">0.0</div>
        </div>
        <button class="btn btn-primary mt-2" onclick="startTransaction()">Démarrer la transaction</button>
    </div>
</div>
